<form action="/add" method="POST">
	<h2>Add item to groceries</h2>
	<div class="input-field">
		<input type="text" name="title">
		<label>What to buy?</label>

		<button type="submit" class="btn">Add</button>
	</div>
</form>